/* App.css */
body {
  background-image: url('./assets/Bg.jpg'); /* Adjust the path as needed */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the image */
  background-attachment: fixed;
  opacity: 7.1; /* Low opacity for background */
  position: relative; /* Allow for positioning of other elements */
  align-items: center;
  height: 100vh;
}

.container {
  position: relative; /* Ensure container remains on top */
  z-index: 1; /* Bring container above the background */
  
}

.input-group {
  flex-wrap: wrap;
}

.form-control, .form-select, .btn {
  margin-bottom: 10px; /* Add spacing between elements */
}

.text-center {
  margin-bottom: 20px; /* Space below the title */
  margin-top: 160px;
}

@media (max-width: 576px) {
  .input-group {
      flex-direction: row; /* Stack elements vertically on smaller screens */
  }

  .form-control, .form-select, .btn {
      width: 100%; /* Full width */
  }
}
